:root {
/* 
dark 5-sahdes (full dark, lighter shades
primary 5 shades (2 dark, 1-2 lighter)
text 5 shades (prim, unavail, darker)

*/

  --dark-bg-color: #222831;
  --dark-hl-primary: #4ecca3;
  --dark-hl-primary-shade: #41a583;
  --dark-hl-primary-darker: #347962;
  --dark-title-color: #eeeeee;
  --dark-notes-color: #bbbbbb;
  --dark-notes-color-shade: #929292;
  --dark-atom-hover-color: #393e46;
  --default-font: 'Fira Mono'
}

html {
  font-size:  62.5%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* backup fonts 'provided' by react*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display: grid;
  grid-template-areas: "header"
  "main";
  grid-template-rows: 10rem calc(100vh - 10rem);
}

header {
  grid-area: header;
  display: grid;
  /* grid-template-areas: "header-left" "header-center" "header-right"; */
  grid-template-rows: 1fr;
  grid-template-columns: 10vw 80vw auto;
  background-color: var(--dark-hl-primary);
}

.header-left{
  background-color: lightblue; /* TEMP */
}

.header-center{
  background-color: violet; /* TEMP */
}

.header-container {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr;
}

.header-right{
  background-color: aquamarine; /* TEMP */
}

main {
  grid-area: main;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10vw 80vw auto;
  background-color: var(--dark-bg-color);
}

.main-left{
  background-color: lime; /* TEMP */
}

.main-center{
  background-color: salmon; /* TEMP */
}

.main-right{
  background-color: gold; /* TEMP */
}