:root {
/* 
dark 5-sahdes (full dark, lighter shades
primary 5 shades (2 dark, 1-2 lighter)
text 5 shades (prim, unavail, darker)

--<theme>-<color>-<derivative>

*/

  --dark-accent-100: ##348C6F;
  --dark-accent-200: #48A989;
  --dark-accent-300: #5BC6A2;
  --dark-accent-400: #6FE2BC;
  --dark-accent-500: #82FFD5;

  --dark-background-100: #222831;
  --dark-background-200: #3A4350;
  --dark-background-300: #525E6F;
  --dark-background-400: #6A788E;
  --dark-background-500: #8293AD;

  --dark-text-100: #FFFFFF;
  --dark-text-200: #F7F7F7;
  --dark-text-300: #EEEEEE;
  --dark-text-400: #E6E6E6;
  --dark-text-500: #DDDDDD;
  --dark-text-600: #CCCCCC;
  --dark-text-700: #D5D5D5;

  --default-font: 'Segoe UI';
}

html {
  font-size:  62.5%;
  box-sizing: border-box;
}


body, #root {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* backup fonts 'provided' by react*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-text-200);
  background-color: var(--dark-background-100);

  /* height: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display: grid;
  grid-template-areas: "header"
  "main";
  grid-template-rows: 10rem auto;
}

header {
  grid-area: header;
  display: grid;
  /* grid-template-areas: "header-left" "header-center" "header-right"; */
  grid-template-rows: 1fr;
  grid-template-columns: 10vw 80vw auto;
  background-color: var(--dark-accent-300);
}


.header-container {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr;
}


main {
  grid-area: main;
  /* height: 100%; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10vw 80vw auto;
  background-color: var(--dark-background-100);
}


.listContainer{
  list-style: none;
  padding: 0;
  margin: 0;
}


/* .atomContentNotes, .atomContentTitle, .atomContentContainer{
  border-radius: 3px;
}

.atomContentContainer:hover{
  background-color: var(--dark-background-200);
}

.atomContentContainer > div:active {
  background-color: var(--dark-background-300);
} */

.textarea {
  vertical-align: top;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  /* width: calc(100% - 10px); */
  /* width: 80%; */
  resize: none;
  /* padding:5px 5px 5px 5px; */
  /* margin-top: 1px; */
  /* margin-bottom: 4px; */
  color: var(--dark-accent-300);
  background-color: var(--dark-background-100);
  border-radius: 3px;
  font-family: var(--default-font);
  font-size: 2rem;
}
/* 
.textarea-title {
  font-size: large;
} */
.textarea-notes {
  font-style: italic;
  color: var(--dark-text-700);

}